.CardGallery{
    display: grid;
    grid-template-columns: repeat(4,minmax(min-content,1fr));
    gap: 2rem;
    margin-bottom: 4.8rem;
    word-break: break-all;
}
.MainImage{
    text-align: center;
    margin-bottom: 1.6rem;
}

@media screen and (max-width: 682px){
    .MainImage img{
        width: 80%;
    }
    .CardGallery{
        grid-template-columns: repeat(3,minmax(min-content,1fr));
        gap: 1rem;
    }
}
@media screen and (max-width: 440px){
    .CardGallery{
        grid-template-columns: 1fr 1fr;
    }

}