.CharacterCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
}
.CharacterCard img{
    border-radius: 10px 10px 0 0;
}
.CharacterCard__info{
    padding:1.4rem 1.6rem;
}
.info__name{
    font-weight: 700;
    font-size: 2rem;
    color: var(--CardNameColor);
    margin-bottom: 1rem;
}
.info__species{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--CardDescColor);
}
@media screen and (max-width: 649px){
    .CharacterCard__info{
        padding:1rem 1rem;
    }
    .info__species{
        font-size: 1rem;
    }
    .info__name{
        font-size: 1.5rem;
        margin: 0;
    }

}
