input:focus,
input:active,
select:active,
select:focus{
    border: none;
    outline: none;
}

select{
    cursor: pointer;
}
.HomePage__paginator{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4.4rem;
}
.HomePage__filter{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,minmax(min-content,1fr));
    margin-bottom: 6.1rem;
}
.HomePage__filter input:first-child{
background: url("../../Assets/imgs/Loupe.png") no-repeat scroll 5%;
    padding-left: 5rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.HomePage__filter>input,
.HomePage__filter>select{
    font-size: 1.6rem;
    padding-left: 1.4rem;
    height: 5.6rem;
    border-radius: 1rem;
    border: 1px solid grey;
    width: 100%;

}
@media screen and (max-width: 877px) {
    .HomePage__filter{
        grid-template-columns: repeat(2,minmax(min-content,1fr));
    }
}
@media screen and (max-width: 440px){
    .HomePage__filter>input{
        font-size: 1.2rem;
    }
    .HomePage__filter input:first-child{
        padding-left: 3rem;
    }

}